{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>Landing Page</title>

  <!--  CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,700">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/header-1.css' %}">


  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
  .contact-us {

    text-align: center;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #0F416F;
  }

  .contact-info {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }

  .welcome-banner a {
    line-height: 20px;
  }

  .button2 {
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 600;
    font-style: normal;
    color: white;
    border: none;
    height: 40px;
    width: 240px;
    border-radius: 20px;
    padding: 10px, 15px, 10px, 15px;
    background: #0F416F;
  }

  .button2:hover {
    color: #0F416F;
    background-color: white;
    border-color: #0F416F;
    transition: 0.7s;
  }
</style>

<body class="websiteBody" style="background-image: url(background.png);">





  <div id="Frame" class="Frame">

    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="#" class="brand"><img src="{% static 'image/logo.png' %}" height="50px"></a>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            <i class='bx bx-menu' style="color: #fff; font-size: 30px;"></i>
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item x"><a href="{% url 'index' %}">Home</a></li>
            <li class="nav__item x"><a href="{% url 'aboutUs' %}">About</a></li>
            <li class="nav__item x"><a href="{% url 'services' %}">Services</a></li>
            <li class="nav__item x"><a href="{% url 'contact_us' %}">Contacts</a></li>
            <li class="nav__item"><a href="{% url 'login' %}"> <button class="button" type="button">Log in</button></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header End -->



    <!-------------------------------- CONTENT --------------------------------------->
    <div class="content row" >
      <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 100px;padding-right: 100px;">
        <div class="welcome-banner">
          <br>
          <span class="contact-us"> Contact us </span><br>
          <p class="contact-info">
            <img src="{% static 'image/loc-black.png' %}" style="vertical-align: middle"> 1775 Dagupan St., Tondo
            Manila <br>
            <img src="{% static 'image/phone-black.png' %}" style="vertical-align: middle"> Res Tel. Nos: 703-7067 /
            255-5953 / 703-5519 <br>
            <img src="{% static 'image/mphone-black.png' %}" style="vertical-align: middle"> Clinic Nos.
            0927-113-9135 / 0933-823-9772 <br><br>
          </p>
          <a href="{% url 'aboutUs' %}"><button class="button2" type="button">Know More</button></a>
        </div>

      </div>
      <div class="col-lg-7 col-md-7 col-sm-7" style="text-align: center; padding: 20px;padding-right: 30px; padding-top: 30px;">
        <div class="mapouter">
          <div class="gmap_canvas"><iframe width="80%" height="350" id="gmap_canvas"
              src="https://maps.google.com/maps?q=dagupan%20animal%20clinic&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
              href="https://123movies-to.org"></a><br>

            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;

              }
            </style>
          </div>
        </div>
      </div>
      <!--INPUT YOUR CSS CODES HERE-->

      <div>
        <img src="{% static 'image/wave.png' %}" width="100%">
      </div>


      <!-------------------------------- FOOTER -------------------------------->

      <footer>
        <br><br><br>
        <table class="footer-table">
          <tr>
            <th style="width:35%">
              <p class="name-footer">Dagupan Animal Clinic </p>
            </th>
            <th style="width:25%"><b>Contact Information</b> </th>
            <th style="width:13%"> Opening Hours</th>
            <th style="width: 10%"> Navigate</th>
            <th> Social Media</th>
          </tr>
          <tr>
            <td>
              Privately owned clinic catering primary services and <br> activities for small companion
              animals.
              <br><br><br><br><br>
              <br>
              <br>
              <br>
              <br>
              <b>© 2022 Dagupan Animal Clinic. All Right Reserved.</b>
            </td>
            <td class="words">
              <img src="{% static 'image/loc.png' %}" style="vertical-align: middle"> &nbsp;&nbsp; 1743 Dagupan St.,
              Tondo,
              Manila,
              Philippines <br>
              <br><img src="{% static 'image/phone.png' %}" style="vertical-align: middle"> &nbsp;&nbsp;Res Tel. Nos:
              703-7067 /
              255-5953 / 703-5519 <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clinic Nos. 0927-113-9135 / 0933-823-9772
            </td>
            <td>
              Monday to Saturday <br>
              8:30 am - 5:30 pm <br> <br>
              Sunday <br>
              9:00 am -12:00 pm
            </td>
            <td>
              <a href="#">Home </a> <br>
              <a href="#">About </a> <br>
              <a href="#">Services </a> <br>
              <a href="#">Products </a> <br>
              <a href="#">Contact </a> <br>
              <a href="#">Log-in </a> <br>
            </td>
            <td>
              <img src="{% static 'image/fb.png' %}" style="vertical-align: middle">&nbsp;&nbsp;<a href="#">
                Facebook</a>
            </td>
          </tr>
        </table>
      </footer>

      <!-------------------------------- END OF FOOTER -------------------------------->

    </div>


    <script src="{% static 'js/header-1.js' %}"></script>
</body>

</html>