{% extends 'secretary/secretaryHome.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static '\css\secretary\billing\billing_transactions.css' %}">
</head>

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

<div class="alert alert-danger alert-dismissible fade show " role="alert">
    <label class="error">
        {{message}}
    </label>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="closebtn">&#10799;</span>
    </button>
</div>

{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert  alert-success alert-dismissible fade show " role="alert">
    <label class="success">
        {{message}}
    </label>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="closebtn">&#10799;</span>
    </button>
</div>
{% endif %}

{% endfor %}
{% endif %}

 <!--BODY HEAD-->
 <div class="bodyhead"> <a href="{% url 'billing' %}"><i class='bx bx-arrow-back back'
    style="color: #0F416F;;"></i></a>Transactions</div>
<!--END BODY HEAD-->
<hr>
<a href="{% url 'transaction_report' %}" target="_blank">All</a> -
<a href="{% url 'today_transaction_reports' %}" target="_blank">Today</a> - 
<a href="{% url 'last_seven_transaction_reports' %}" target="_blank">7 days ago</a> - 
<a href="{% url 'last_thirty_transaction_reports' %}" target="_blank">30 days ago</a> - 
<a href="{% url 'a_year_ago_transaction_reports' %}" target="_blank">A year ago</a> - 
<a href="{% url 'more_transaction_reports' %}" target="_blank">More that a year ago</a> 
<br>

    <table class="table-inner" style=" width: 100%;">

        <!-- TABLE HEAD -->
        <tr class="table_head">
            <th>Code</th>
            <th>Date</th>
            <th>Customer</th>


        </tr>
        <!-- END TABLE HEAD -->

        <!-- TABLE DATA -->

        {% for chargeslip in all_chargeslip %}
        <tr class="table_data">
            <td> <a href="{% url 'transaction_view' chargeslip.id %}"> {{chargeslip.code}} </a>
            </td>
            <td>
                {{chargeslip.date|date:"N d Y"}}
            </td>
            <td>
                {%if chargeslip.chargeslip.petowner == None %}
                Outside Buyer
                {% else %}
                {{chargeslip.chargeslip.petowner}}
                {% endif %}

                {% endfor %}

            </td>
            
        </tr>


        <!--END TABLE DATA-->
    </table>
</div>
<!--======END Billing======-->

<br>


{% endblock%}