{% extends 'secretary\secretaryHome.html' %}
{% load static %}

{% block content %}

<!--Content Here-->

<div style="background-color: green; height: 650px;" > <!--this style is a guide-->

<!--or you can type in your content here
    >the height of the sidebar adjusts depending on the content
        to show you: 
        1. Change  the height of the div above to 100px
        2. Click the Hamburger menu icon
    > for the css, choose from the appropriate folder location in the static/css/ and then create the css file 
        (this is for other developer to easily see the location of the files)
-->

</div>
{% endblock %}