{% extends 'secretary\secretaryHome.html' %}
{% load static %}

{% block content %}
<style>
    .bodyhead {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 29px;
        color: #0F416F;
        padding-bottom: 10px;
    }

    /*table*/

    /*table scroll*/
    .tablepanel::-webkit-scrollbar {
        width: 0px;
        border-radius: 0 0px 10px 0;
    }

    .tablepanel::-webkit-scrollbar-thumb {
        border-radius: 0 0px 10px 0;
    }


    .tablepanel {
        overflow-y: scroll;
        width: 90%;
        height: 200px;

        /**height: 170px;**/
        border-radius: 0px 0px 15px 15px;
        margin-bottom: 2%;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }



    .tablepanel .table-inner .table_data td,
    .tablepanel .table-inner .table_head th {
        padding-left: 30px;
    }


    .tablepanel .table-inner .table_data td .actionbtn tr td {
        padding-left: 15px;
    }

    .tablepanel table .table_head th {
        font-size: 15.5px;
    }

    .tablepanel table tr th {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        color: #FFFFFF;
    }


    .table_head {
        position: sticky;
        top: 0;
        cursor: context-menu;

        height: 40px;
        background-color: #8292A0;
        border-radius: 0px 10px 10px 0px;


    }

    .tablepanel .table_data {

        border-bottom: 1px solid #B0B0B0;
    }

    .tablepanel .table_data td {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;

    }

    .addUserBTN {
        font-size: 12px;
        text-decoration: none;
        color: #f8f8f8;
        background-color: #0F416F;
        border-radius: 15px;

        padding: 3px 20px 3px 20px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .addUserBTN:hover {
        color: #f8f8f8;
    }

    /**RESTRICTED**/
    .restricted-container {
        width: 70%;


    }

    .restricted {
        color: red;
    }
</style>

<style>
    /* Google Font Import - Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


    /**CALENDAR**/
    :root {
        --dark-body: #4d4c5a;
        --dark-main: #141529;
        --dark-second: #79788c;
        --dark-hover: #323048;
        --dark-text: #f8fbff;

        --light-body: #f3f8fe;
        --light-main: #fdfdfd;
        --light-second: #c3c2c8;
        --light-hover: #edf0f5;
        --light-text: #151426;

        --blue: #0000ff;
        --white: #fff;

        --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        --font-family: cursive;

    }


    /* Hide scrollbar for Chrome, Safari and Opera */
    :root::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    :root {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }


    .light {
        --bg-body: var(--light-body);
        --bg-main: var(--light-main);
        --bg-second: var(--light-second);
        --color-hover: var(--light-hover);
        --color-txt: var(--light-text);

    }


    .calendar {
        height: max-content;
        width: max-content;
        background-color: var(--bg-main);
        border-radius: 30px;
        padding: 20px;
        position: relative;
        overflow: hidden;
        /* transform: scale(1.25); */
    }

    .light .calendar {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        color: #585858;
        padding: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;

    }


    .calendar-week-day {
        font-size: 12px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
        font-family: 'Poppins';
        font-style: normal;
        height: 40px;



    }

    .calendar-week-day div {

        display: grid;
        place-items: center;
        color: #585858;
    }

    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
        color: #585858;
    }

    .calendar-days div {
        width: 45px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: relative;
        cursor: pointer;
        font-size: 12px;

        /* border-radius: 50%; */
    }

    .calendar-days div.curr-date,
    .calendar-days div.curr-date:hover {
        background-color: #0F416F;
        color: var(--white);
        border-radius: 15px
    }

    .calendar-days div.curr-date span {
        display: none;
    }

    .month-picker {
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .month-picker:hover {
        background-color: var(--color-hover);
    }

    .year-picker {
        display: flex;
        align-items: center;
    }

    .year-change {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 0 10px;
        cursor: pointer;
    }

    .year-change:hover {
        background-color: var(--color-hover);
    }



    .month-list {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bg-main);
        padding: 20px;
        grid-template-columns: repeat(3, auto);
        gap: 5px;
        display: grid;
        transform: scale(1.5);
        visibility: hidden;
        pointer-events: none;
        font-size: 12px;

    }

    .month-list.show {
        transform: scale(1);
        visibility: visible;
        pointer-events: visible;
        transition: all 0.2s ease-in-out;
        font-family: 'Poppins';
        font-style: normal;



    }

    .month-list>div {
        display: grid;
        place-items: center;
    }

    .month-list>div>div {
        width: 100%;
        padding: 5px 20px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        color: var(--color-txt);
        font-family: 'Poppins';
        font-style: normal;
        color: #585858;
    }

    .month-list>div>div:hover {
        background-color: var(--color-hover);
    }

    @keyframes to-top {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .bodyhead {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 29px;

        color: #0F416F;
        height: 65px;

    }

    /*add pets*/


    .table_for {

        color: #585858;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 33px;


    }

    .addUserBTN {
        font-size: 14px;
        text-decoration: none;
        color: #f8f8f8;
        background-color: #0F416F;
        border-radius: 20px;
        padding: 3px 20px 3px 20px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }


    .addUserBTN:hover {

        color: #f8f8f8;


    }

    /*search bar*/

    .searchbar {
        border-radius: 10px;
        border-color: #0F416F;
        border-radius: 10px 0px 0px 10px;
        border-style: solid none solid solid;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;


    }

    .searchBTN {
        border-radius: 10px;
        border-color: #0F416F;
        border-radius: 0px 10px 10px 0px;
        border-style: solid solid solid solid;
        background: #E7ECF1;
        width: 40px;

        outline: none;

    }

    .bx-search {
        color: #0F416F;
        font-size: 20px;
        vertical-align: middle;
    }

    /*table*/

    /*table scroll*/
    .tablepanel-sched::-webkit-scrollbar {

        width: 1px;
        border-radius: 0 0px 10px 0;
    }

    .tablepanel-sched::-webkit-scrollbar-thumb {

        border-radius: 0 0px 10px 0;
    }

    .tablepanel-sched {


        overflow-y: scroll;
        width: 100%;
        height: 155px;

    }

    /*table scroll*/
    .tablepanel-sched1::-webkit-scrollbar {

        width: 1px;
        border-radius: 0 0px 10px 0;
    }

    .tablepanel-sched1::-webkit-scrollbar-thumb {

        border-radius: 0 0px 10px 0;
    }

    .tablepanel-sched1 {


        overflow-y: scroll;
        width: 100%;
        height: 135px;

    }



    .row .col1 {
        padding-bottom: 10px;
    }

    /*table scroll*/
    .tablepanel::-webkit-scrollbar {
        background-color: lightgray;
        height: 5px;
        border-radius: 0 0px 10px 0;
    }

    .tablepanel::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 0 0px 10px 0;
    }

    .tablepanel {
        overflow-x: scroll;
        overflow-y: none;
        width: 100%;

        /**height: 170px;**/
        border-radius: 15px;
        margin-bottom: 2%;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }



    .tablepanel .table-inner .table_data td,
    .tablepanel .table-inner .table_head th {
        padding: 8px 30px;
    }


    .tablepanel .table-inner .table_data td .actionbtn tr td {
        padding-left: 13px;
    }

    .my-pets {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;

        color: #0F416F;
    }

    .table_head {
        position: sticky;
        top: 0;
        cursor: context-menu;
        height: 40px;

        border-radius: 0px 10px 10px 0px;


    }

    /**.tablepanel .table_data {
    
        border-bottom: 1px solid #B0B0B0;
    } bago toh pet**/

    /** bago toh pet**/

    /** bago toh pet**/

    .tablepanel .table_data td {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        padding-top: 9px;
        padding-bottom: 9px;

    }

    .rounded-pfp-pet {
        top: 60px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 5px solid #0F416F;
    }


    /*action*/


    .updateBTN1 {
        text-decoration: none;
        font-size: 18px;

        background: #CEFCE0;
        padding: 5px;
        border-radius: 5px;
        color: #2B956B;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .updateBTN {
        text-decoration: none;
        border-radius: 5px;
    }

    .deleteBTN1 {
        text-decoration: none;
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;

        background: #FCCECE;
        color: rgba(230, 13, 13, 0.88);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .deleteBTN {
        text-decoration: none;
        border-radius: 5px;
    }

    .addrecordBTN1 {
        text-decoration: none;
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;

        background-color: #CEE8FC;
        color: #0F416F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .addrecordBTN {
        text-decoration: none;
        border-radius: 5px;

    }

    /**user-details**/

    .user-details-container {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;
        width: 370px;
        height: 480px;
        margin-bottom: 5%;

    }

    .user-details {
        color: #0F416F;
        font-size: 12px;
        padding: 20px;
    }

    .user-details-container .user-details .user-details-head {
        color: #0F416F;
        font-size: 17px;
        padding: 20px;
    }

    .user-details-container .user-details tr td,
    .user-details-container .user-details tr th {
        padding-right: 10px;
        padding-left: 20px;

    }

    .see-all {
        font-size: 10px;
        color: #0F416F;
        padding-left: 10px;
        padding-top: 10px;
        float: right;
    }
</style>

<style>
    .upa {



        padding-left: 10px;
        color: #0F416F;
        ;
        font-size: 15px;
        font-weight: 600;



    }

    .upa-head1 {
        background: #0F416F;
        border: 2px solid #EAEAEA;
        border-radius: 20px;


        padding: 20px;
        padding-left: 20px;
        color: #fff;
        ;
        font-size: 15px;
        font-weight: 600;



    }

    .upa-head {

        background: #FFFFFF;
        border: 2px solid #EAEAEA;
        border-radius: 20px;


        padding: 20px;
        padding-left: 20px;
        color: #0F416F;
        ;
        font-size: 15px;
        font-weight: 600;



    }

    .upa-head:hover {
        background-color: #0f416f7f;
        color: #fff;

    }

    .upa-sched {
        background: #FFFFFF;
        border: 2px solid #EAEAEA;
        border-radius: 13px;
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        padding-left: 20px;
        color: #585858;
        font-size: 12px;


    }

    .pymnt-remind {
        background: #FFFFFF;
        border: 2px solid #EAEAEA;
        border-radius: 13px;
        margin-top: 15px;
        width: 100%;
        height: 190px;
        padding: 10px;
        padding-left: 20px;
        color: #585858;
        font-size: 12px;

        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .notif-head {
        width: 100%;

    }

    .notif-head tr td {
        width: 33.33%;
        padding: 5px;
    }

    .data-label {
        color: #0F416F;
        font-weight: 500;
        line-height: 1px;
    }

    @media only screen and (max-width:992px) {


        .upa-head {
            width: 100%;
            margin-top: 20px;
        }

        .col2 .user-details-container {
            margin-top: 40px;
            height: 300px;
            width: 100%;
        }
    }
</style>


<!--BODY HEAD-->
<div class="bodyhead">Dashboard</div>
<!--END BODY HEAD-->



<!--ROW 2-->
<div class="row">

    <div class="col-lg-7 col-md-7 col-sm-7">
        <div style=" background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px; padding: 10px;">

            <a href="{% url 'secDashBoard' %}"><span class="upa">Appointments Today</span> </a>

            <a href="{% url 'secDashBoard_one' %}" class="see-all">See all Appointments </a>

            <hr style=" margin: 5px;">




            <div class="tablepanel-sched">

                {%for sched in getSched %}
                <div class="upa-sched"> <a href="{% url 'view_all_medical_history' sched.pet.id %}"
                        class="cancelBTN">{{sched.pet}}</a>- {{sched.slot.date|date:"N d Y"}},
                    {{sched.slot.timeIn|time:'h:i A'}} : {{sched.slot.timeOut|time:'h:i A'}} {{sched.slot.vet}} -
                    {{sched.status}}</div>
                {% endfor %}

            </div>
        </div>
        <br>
        <a href="{% url 'secDashBoard' %}"><span class="upa">Products</span> </a>

        <Table class="notif-head">
            <tr>
                <td>
                    <a href="{% url 'secDashBoard' %}">
                        <div class="upa-head1"> {{expireCount}} Expiring</div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'secDashBoard_low' %}">
                        <div class="upa-head"> {{lowstockCount}} Low Stocks </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'secDashBoard_no' %}">
                        <div class="upa-head">{{nostockCount}} No Stocks </div>
                    </a>
                </td>
            </tr>
        </Table>



        <div class="tablepanel-sched1">
            {%for no in expire %}
            <div class="upa-sched"> {{no.product.product_name}} - {{no.expireDate}} - {{no.quantity}} </div>
            {% endfor %}

        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="user-details-container">
            <div>
                <table class="user-details">
                    <tr>
                        <th class="user-details-head" colspan="2">
                            My Information
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <b>Email:</b>
                        </td>
                        <td> {{getProfile.useracc}}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Name:</b>
                        </td>
                        <td>
                            {{getProfile.firstName}}
                        </td>
                    </tr>
                    <tr>
                        <td> <b>Last:</b></td>
                        <td> {{getProfile.lastName}}</td>
                    </tr>
                    <tr>
                        <td> <b>Gender:</b></td>
                        <td> {{getProfile.gender}}</td>
                    </tr>
                    <tr>
                        <td><b> Contact:</b></td>
                        <td> {{getProfile.contactNum}}</td>
                    </tr>
                    <tr>
                        <td> <b> Address:</b></td>
                        <td> {{getProfile.address}}</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>


</div>

{% endblock %}