{% load static %}

{% block content %}




<nav id="sidebar" class="sideb">

    <!-- sidebar head -->
    <div class="sidebar-header">
        <h3>
            <table>
                <tr>
                    <td>
                        <img src="{% static 'image/dog.png' %}">
                    </td>
                    <td class="clinic-name">
                        <span class="dagupan">Dagupan</span>
                        <span class="a-clinic">Animal Clinic</span>
                    </td>
                </tr>
            </table>
        </h3>
    </div>
    <!-- END sidebar head-->



    <ul class="list-unstyled components">

        <!-- menu button-->
        <div>
            <button type="button" id="sidebarCollapse">
                <span><i class='bx bx-menu icon'></i></span>
            </button>

            <li style="border-bottom: 1px solid #eee;">
                <a href="#"><i class='bx bx-user icon' style="color: transparent;"></i><span>Menu</span></a>
            </li>
        </div>
        <!-- END menu button-->



        <li>
            <a href="{% url 'secretaryHome' %}"
                class="menu-sidebar {% if sideb == 'secretaryHome' %} active  {% elif sideb == 'edit_sec_profile' %} active {% endif %}"> <i
                    class="bx bx-user icon {% if sideb == 'secretaryHome' %} activeicon {% endif %}"></i><span>Profile</span></a>
        </li>
        <li>
            <a href="{% url 'secDashBoard' %}"
                class="menu-sidebar 
                {% if sideb == 'secretaryDashboard' %} active  
                {% elif sideb == 'secretaryDashboard_one' %} active 
                {% elif sideb == 'secretaryDashboard_low' %} active 
                {% elif sideb == 'secretaryDashboard_no' %} active 
                {% endif %}"> <i
                    class="bx bx-home-alt icon
                    
                    {% if sideb == 'secretaryDashboard' %} activeicon  
                    {% elif sideb == 'secretaryDashboard_one' %} activeicon  
                    {% elif sideb == 'secretaryDashboard_low' %} activeicon  
                    {% elif sideb == 'secretaryDashboard_no' %} activeicon  
                    {% endif %}"
                    ></i><span>Dashboard</span></a>
        </li>
      

        <li class="dropdown">
            <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" 
            class="dropdown-toggle menu-sidebar 
            {% if sideb == 'create_accounts' %} active
            {% elif sideb == 'user_profile' %} active
            {% elif sideb == 'pet_record' %} active
            {% elif sideb == 'add_dropdown_details'  %} active

            {% elif sideb == 'direct_add_medical_history'  %} active
            {% elif sideb == 'add_medical_history'  %} active
            {% elif sideb == 'update_medical_history'  %} active
            {% elif sideb == 'view_all_medical_history'  %} active
            {% elif sideb == 'view_medical_history'  %} active

            {% elif sideb == 'delete_history'  %} active

            {% elif sideb == 'add_medical_service'  %} active
            {% elif sideb == 'availed_service'  %} active
            {% elif sideb == 'edit_availed_service'  %} active
            {% elif sideb == 'delete_availed_service' %} active

            {% elif sideb == 'availed_labTest' %} active
            {% elif sideb == 'edit_lab_test' %} active
            {% elif sideb == 'delete_availed_lab' %} active


            {% elif sideb == 'availed_vaccination' %} active
            {% elif sideb == 'edit_vaccination' %} active
            {% elif sideb == 'delete_availed_vaccine' %} active
            
            {% elif sideb == 'generateServiceInvoice' %} active 

            
           
            {% endif %}">
           
          
                <i class="bx bx-plus icon  
                {% if sideb == 'create_accounts' %} activeicon 
                {% elif sideb == 'user_profile' %} activeicon 
                {% elif sideb == 'pet_record' %} activeicon
                {% elif sideb == 'add_dropdown_details' %} activeicon

                {% elif sideb == 'direct_add_medical_history'  %} activeicon
                {% elif sideb == 'add_medical_history'  %} activeicon
                {% elif sideb == 'update_medical_history'  %} activeicon
                {% elif sideb == 'view_all_medical_history'  %} activeicon
                {% elif sideb == 'view_medical_history'  %} activeicon

                {% elif sideb == 'delete_history'  %} activeicon

                {% elif sideb == 'add_medical_service'  %} activeicon
                {% elif sideb == 'availed_service'  %} activeicon
                {% elif sideb == 'edit_availed_service'  %} activeicon
                {% elif sideb == 'delete_availed_service' %} activeicon
    
                {% elif sideb == 'availed_labTest' %} activeicon
                {% elif sideb == 'edit_lab_test' %} activeicon
                {% elif sideb == 'delete_availed_lab' %} activeicon
    
    
                {% elif sideb == 'availed_vaccination' %} active
                {% elif sideb == 'edit_vaccination' %} active
                {% elif sideb == 'delete_availed_vaccine' %} active

                {% elif sideb == 'generateServiceInvoice' %} active 

                

                {% endif %}"></i></i><span>Create</span></a>
            <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                <li>
                    <a href="{% url 'create_accounts' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'user_profile' %}">User Profile</a>
                </li>
                <li>
                    <a href="{% url 'pet_record' %}">Pet Record</a>
                </li>
                <li>
                    <a href="{% url 'add_dropdown_details' %}">Details</a>
                </li>
            </ul>
        </li>
      
        

        <li>
            <a href="{% url 'billing' %}" class="menu-sidebar 
            {% if sideb == 'sec_chargeSlip' %} active  
            {% elif sideb == 'sec_transaction' %} active 


            {% elif sideb == 'chargeslipEdit' %} active 
            {% elif sideb == 'product_chargeslip_raw' %} active 
            {% elif sideb == 'product_chargeslip' %} active 
            {% elif sideb == 'remove_product' %} active 
            {% elif sideb == 'transact_payment' %} active 
            {% elif sideb == 'view_per_transaction' %} active 
            {% elif sideb == 'transaction_view' %} active 
            {% elif sideb == 'chargeslip_view' %} active 

            {% endif %}"> 
            
            <i class="bx bx-coin icon 
            {% if sideb == 'sec_chargeSlip' %} activeicon 
            {% elif sideb == 'sec_transaction' %} activeicon 
            {% elif sideb == 'chargeslipEdit' %} active 
            {% elif sideb == 'chargeslipEdit' %} activeicon 
            {% elif sideb == 'product_chargeslip_raw' %} activeicon 
            {% elif sideb == 'product_chargeslip' %} activeicon 
            {% elif sideb == 'remove_product' %} activeicon 
            {% elif sideb == 'transact_payment' %} activeicon 
            {% elif sideb == 'view_per_transaction' %} activeicon 
            {% elif sideb == 'transaction_view' %} activeicon 
            {% elif sideb == 'chargeslip_view' %} activeicon 
            {% endif %}"></i><span>Billing</span></a>
        </li>


        <li class="dropdown">
            <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-sidebar
            {% if sideb == 'transaction_reports' %} active 
            {% elif sideb == 'transaction_reports_select' %} active 
            {% elif sideb == 'product_reports' %} active 
            {% elif sideb == 'service_reports' %} active 
            {% endif %}">
            
                <i class="bx bx-file icon
                
                {% if sideb == 'transaction_reports' %} activeicon 
                {% elif sideb == 'transaction_reports_select' %} activeicon
                {% elif sideb == 'product_reports' %} activeicon
                {% elif sideb == 'service_reports' %} activeicon
                {% endif %}"></i><span>Reports</span></a>

            <ul class="collapse list-unstyled menu" id="homeSubmenu3">
                <li>
                    <a href="{% url 'service_reports' %}">Services Reports</a>
                </li>
                <li>
                    <a href="{% url 'product_reports' %}">Product Reports</a>
                </li>
                <li>
                    <a href="{% url 'transaction_reports' %}" >Transaction Reports</a>
                </li>
                <li>
                    <a href="{% url 'client_reports' %}" >Client Reports</a>
                </li>
            </ul>
        </li>

        
        <li>
            <a href="{% url 'products' %}" class="menu-sidebar 
            {% if sideb == 'products' %} active 
            {% elif sideb == 'available_products' %} active 
            {% elif sideb == 'update_products' %} active 
            {% elif sideb == 'add_product' %} active 
            {% elif sideb == 'add_available_products' %} active 
            {% elif sideb == 'update_available_products' %} active 
           
            {% endif %}"> <i
                    class="bx bx-package icon 
                    {% if sideb == 'products' %} activeicon 
                    {% elif sideb == 'available_products' %} activeicon
                    {% elif sideb == 'add_product' %} activeicon
                    {% elif sideb == 'add_available_products' %} activeicon
                    {% elif sideb == 'update_available_products' %} activeicon
                    {% endif %}" style="font-size: 20px;"></i><span>Products</span></a>
        </li>
       
        <li class="dropdown">
            <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-sidebar
            {% if sideb == 'scheduling_slot' %} active 
            {% elif sideb == 'sec_upcoming_app' %} active 
            {% elif sideb == 'restricted' %} active 
            {% elif sideb == 'unrestrict' %} active 
            {% endif %}">
                <i class="bx bx-calendar-alt icon
                
                {% if sideb == 'scheduling_slot' %} activeicon
                {% elif sideb == 'sec_upcoming_app' %} activeicon
                {% elif sideb == 'restricted' %} activeicon
                {% elif sideb == 'unrestrict' %} activeicon
                {% endif %}"
                
                ></i><span>Schedule</span></a>
            <ul class="collapse list-unstyled menu" id="homeSubmenu4">
                <li>
                    <a href="{% url 'scheduling_slot' %}">Set Appointment</a>
                </li>
                <li>
                    <a href="{% url 'sec_upcoming_app' %}">Appointments</a>
                </li>
                
            </ul>
        </li>

        <li class="dropdown">
            <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-sidebar
            {% if sideb == 'archive_medHistory' %} active 
            {% elif sideb == 'archive_accounts' %} active 
            {% elif sideb == 'archive_pets' %} active
           
            {% endif %}">
            
        
                <i class="bx bx-archive icon
                {% if sideb == 'archive_medHistory' %} activeicon
                {% elif sideb == 'archive_accounts' %} activeicon 
                {% elif sideb == 'archive_pets' %} activeicon 
            
               
                {% endif %}
                
                
                "></i><span>Archive</span></a>
            <ul class="collapse list-unstyled menu" id="homeSubmenu5">
                <li>
                    <a href="{% url 'archive_accounts' %}" >Accounts</a>
                </li>
                <li>
                    <a  href="{% url 'archive_pets' %}">Pets</a>
                </li>
                <li>
                    <a href="{% url 'archive_medHistory' %}">Pet Medical History</a>
                </li>
            </ul>
        </li>


    </ul>

    <div class="bottom-content">
        <ul>
            <li class="">
                <a href="{% url 'logout' %}" class="menu-sidebar">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

        </ul>
    </div>

</nav>
<!-- END Sidebar -->


{% endblock %}